
.error{
    border: 1px solid red;
}

.container{
    border: none;
    border-radius: 50px;
    padding: 50px;
    max-width: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background: url("https://img.freepik.com/free-vector/abstract-soft-colorful-watercolor-texture-background-design_1055-13464.jpg");
}

h5{
    text-align: center;
    font-weight: bold;
}